/* IMPOSTAZIONI GENERALI */
html {font-size: 62.5%;}
body { 
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 15px;
    background-image: url('../img/sfondo.png');
    background-position: center center;
}
* {box-sizing: border-box;}
hr {display: none;} /* rimuove l'elemento */

/* HEADER */
header {
    background: rgb(0,160,198);
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 3px #444;
    margin-bottom: 1.5em;
    padding: 2em 1.5em;
}
header div img {
    margin-bottom: 20px;
}
header nav ul {
    margin: 0;
}
header nav li {
    list-style: none;
}
header nav li a {
    color: white;
    text-decoration: none;
}
header nav li a:hover {
    color: red;
}
header nav li a::before {
    content: "\22c6\0020";
}

/* MAIN */
main {
    background-color: #fff;
    box-shadow: 0 3px 3px #444;
    padding: 2em 1em;
    margin-bottom:1.5em ;
}
section { 
    background-color: #e3e3e3;
    padding: 1em;
    margin-bottom: 2em;
}
section h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;
}
p, address, ul, ol, dl, blockquote {
    margin-bottom: 1.2em;
}
h1 + p {
    color: #a0a0a0;
}
ul, ol {
    margin-left: 2em;
}
a {
    color: #00A0C6;
    font-weight: bold;
}
strong {
    color: #a02571;
    font-weight: bold;
}
code {
    background-color: #e3e3e3;
    border: 1px solid #969494;
    border-radius: 5px;
}
iframe {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

/* TABELLE */
table {
    margin-bottom: 2em;
}
caption {
    font-weight: bold;
    font-style: italic;
}
thead tr {
    background-color: #3f6bca;
    color: #ffffff;
}
th, td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
    padding: 5px;
    border: 0;
    border-bottom: 1px dashed #333;
}
button {
    padding: 4px 7px;
    background-color: #3f6bca;
    border: 0;
    color: white;
    font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}
aside div {
    background-color: #e3e3e3;
    border: 1px solid #c3c3c3;
    margin-bottom: 1em;
    padding: 1em;
}

aside div p:last-child {
    margin-bottom: 0;
    font-size: 0.8em;
    text-align: right;
}


/* FOOTER */
footer {
    background: rgb(53,53,53);
    background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(5,85,103,1) 68%);
    box-shadow: 0 3px 3px #444;
    color: #f0f0f0;
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
}
footer a {
    color: fuchsia;
}


@media screen and (min-width: 0px){
    .treBox{
        background-color: transparent;
        border: none;
        width: 100%;
    }
}

@media screen and (min-width: 576px) {
    header ul li{
        display: inline;
    }

    .imageHtml{
        max-width: fit-content;
        line-height: 0;
        border: 3px solid #00A0C6;
        margin: 0 1rem;
        float: left;
    }

    .imageHtml img{
        width: 70px;
        border: 3px solid #a02571;
    }

    .introPar{
        clear: none;
    }

    article h1{
        font-size: 55px;
        z-index: 1;
    }

    article h1 span{
        background-image: url('/26:11/assets/img/underline.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        padding: 1rem 0;
        z-index: -1;
    }

    main section {
        position: relative;
    }

    main section p{
        margin-top: 3rem;
    }

    main section h2{
        margin: 0;
    }

    .new{
        width: fit-content;
        padding: 1rem 2rem;
        text-transform: none;
        background-color: #a3a3a3;
        position: absolute;
        bottom: 105px;
        filter: drop-shadow(0 0 4px gray);
    }

    .facebook, 
    .calendar, 
    .top{
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        background-color: #a3a3a3;
        border: 2px solid gray;
        opacity: 0.5;
        border-radius: 5px;
        position: fixed;
        bottom: 10vh;
        right: 40px;
    }

    .facebook{
        background-image: url('/26:11/assets/img/facebook.png');
        bottom: 25vh;
    }

    .calendar{
        background-image: url('/26:11/assets/img/calendar.png');
        bottom: 20vh;
        
    }

    .top{
        background-image: url('/26:11/assets/img/arrow.png');
    }

    .facebook a:hover
    .calendar a:hover 
    .top a:hover{
        cursor: pointer;
        background-color: #a02571;
    }

    .box1,
    .box2,
    .box3{
        height: 20vh;
    }

    .treBox a,
    .treBox i{
        display: inline-block;
    }
    .fa-tag{
        float: right;
        color: #969494;
        opacity: 0.5;
        font-size: 80px;
    }

}

@media screen and (min-width: 992px){

    article h1{
        width: 70%;
    }

    main article h2{
        font-size: 20px;
        font-weight: bold;
    }
    
    main article table{
        text-align: center;
        margin: 3rem auto;
    }

    .new{
        bottom: 90px;
    }
}

@media screen and (min-width: 1200px){
    header{
        text-align: left;
        height: fit-content;
        position: sticky;
        z-index: 2;
        top: 0;
    }

    article h1{
        width: 100%;
    }

    main{
        z-index: 1;
    }

    header div img,
    header div p{
        margin-bottom: 0;
    }

    header p, header nav{
        padding-top: 2.5rem;
    }

    header div, p, nav{
        display: inline-block;
        vertical-align: top;
    }

    nav{
        float: right;
    }

    section{
        padding: 2rem 1rem;
        border-radius: 20px;
        width: fit-content;
    }

    section p{
        font-size: 18px;
    }

    section h2, section p{
        margin-bottom: 4rem;
    }

    section form input{
        width: 80%;
        border: 1px solid black;
        margin-right: 1rem;
    }
    
    iframe, section{
        display: inline-block;
        vertical-align: top;
        width: 50%; /*meglio percentuale*/
        margin: 0;
        height: 250px;
    }

    .videoBox{
        max-width: fit-content;
        margin: 2rem auto;
        font-size: 0;
    }

    main article table{
        text-align: center;
        margin: 3rem auto;
        width: 50%;
    }

    .new{
        bottom: 220px;
    }

    .box1,
    .box2,
    .box3{
        width: 30vw;
        height: 18vh; 
        margin: 2rem 0;
        display: inline-block;
        vertical-align: top;
        font-size: 15px;
    }

    .box1 p:last-child,
    .box2 p:last-child,
    .box3 p:last-child{
        float: right;
    }

    .treBox{
        margin: 0 auto;
        padding: 0;
        width: max-content;
        font-size: 0;
    }

    .facebook{
        
        top: 25vh;
    }

    .calendar{
        top: 20vh;
        
    }

}

@media print{
    header, footer, .videoBox, aside {
        display: none;
    }

    main{
        font-size: x-large;
    }

    .imageHtml{
        float: left;
    }
}