/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

*{
    margin: 0;
    padding: 0;
    font-family: "Bree Serif", serif;
}

main{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#testoAlternato{
    border: 2px solid black;
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    -align-self: center;
    position: relative;
    overflow: hidden;
    
}


span i{
    position: absolute;
    color: #a4a4ec;
    padding-left: 1rem;
	opacity: 0%;
    bottom: 100px;
	animation-name: textAnimation;
	animation-duration: 12s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}

@keyframes textAnimation{
    from {
        bottom: 1rem;
		opacity: 100%;
	}
    10%{
        bottom: 1rem;
        opacity: 100%;
    }

    30%{
        bottom: 1rem;
        opacity: 100%;
    }

    40%{
        bottom: 0;
        opacity: 50%;
    }

	to {
		bottom: -80px;
		opacity: 0%;
	}
}


.two{
    animation-delay: 4s;
    color: blueviolet;
}

.three{
    animation-delay: 8s;
    color: brown;
}

