*{
    margin: 0;
    padding: 0;
    font-family: "Indie Flower", cursive;
}

main{
    background-color: #666666;
    height: 100vh;
}

.container{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    width: 20%;
    margin: 2rem 1rem;
    height: 30vh;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.49);
    cursor: pointer;
}

.box:hover{
    width: 25%;
    height: 35vh;
    rotate: 0deg;
    transition-delay: ease(1s);
}

.box h4{
    font-size: 30px;
}

.box p{
    font-size: 24px;
}

.task3, .task6{
    background-color: #c9c9f7;
    background-image: linear-gradient(#c9c9f7,rgba(128, 128, 128, 0.825));
    rotate: -10deg;
}

.task2, .task4, .task8{
    background-color: #cafaca;
    background-image: linear-gradient(#cafaca, rgba(128, 128, 128, 0.825));
    rotate: 5deg;

}

.task1, .task5, .task7{
    background-color: #fffecc;
    background-image: linear-gradient(#fffecc, rgba(128, 128, 128, 0.825));
    rotate: -5deg;
}


